pipeline/pl_ingest_movie_history_data.json
{
	"name": "pl_ingest_movie_history_data",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_movie_history_bronze",
						"type": "DatasetReference",
						"parameters": {
							"p_df_file_date": {
								"value": "@pipeline().parameters.p_file_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "if folder exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Ingest Movie File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/01. Ingestion_File_Movie",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Language File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/02. Ingestion_Language_Movie",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Genre File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/03. Ingestion_File_Genre",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Country File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/04. Ingestion_file_country",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Movie Genre File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/06. Ingestion_file_movie_genre",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Person File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/05. Ingestion_file_person",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Movie Cast File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/07. Ingestion_file_movie_cast",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Lnaguage Role File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/08. Ingestion_file_language_role",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest LProduction Company File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/09. Ingestion_folder_production_company",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Movie Company File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/10. Ingestion_folder_movie_company",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Movie Language File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/11. Ingestion_folder_movie_language",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Production Country File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/juanherrera310670@correo.itm.edu.co/Databrincks_Curso/movie_history/ingestion/12. Ingestion_folder_production_country",
								"baseParameters": {
									"p_enviroment": {
										"value": "@pipeline().parameters.p_enviroment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_enviroment": {
				"type": "string",
				"defaultValue": "Production"
			},
			"p_file_date": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-20T20:55:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}